.search_container {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.search_container input {
    text-align: center;
    border-style: none; border-radius: 20px;
    width: 40em;
    padding: 1em;
}

.search_container input:hover::placeholder {
    color: #203e54;
    transition: .5s;
}


.btn {
    width: 5em;
    cursor: pointer;
    padding: 1em;
    background-color: white;
    border-style: none;
    border-radius: 20px;
    transition: .5s;
}

.btn:hover {
    color: #203e54;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .search_container {
    flex-direction: column;
    padding: 1em;
  }

  .search_container input {
    width: 100%; 
    font-size: 1rem;
  }

  .btn {
    width: 5em;
    margin-top: 1em;
  }

  .poster {
    width: 35%;
  }

  .dados {
    top: 75%;
    left: 40%;
    text-size-adjust: 35%;
  }
}

@media (min-width: 768px) and (max-width: 1000px ) {
    .dados {
        top: 55%;
        left: 35%;
        text-size-adjust: 50%;
        max-width: 200px;
    }
}
